body {
  color: black;
  background-color: darkslategrey;
}
div {
  display: flex;
  justify-content: center;
}
 #gameCar{
  background-color: white;

} 
.startScreen{
  display: none;
}
.stopScreen{
  display: none;
}
.gameOverScreen{
  display: none;
}