body {
  color : #00264d;
  background-image: url("./img/horizonchase_promo_image.jpg");
  background-size: cover;
}
h1 {
  font-family: monospace;


}
div {
  display: flex;
  justify-content: center;
}
 #gameCar{
  background-color: white;

} 
.startScreen{
  display: none;
}
.stopScreen{
  display: none;
}
.gameOverScreen{
  display: none;
}