@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 900px;
  /* background-image: url("./img/horizonchase_promo_image.jpg");
  background-size: cover; */
}
h1 {
  font-size: 5em;
  color: white;
  text-align: center;
}
h2 {
  color: white;
}
h3{
  font-size: 1em;
  color: red;
  text-align: right;
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
}
 #gameCar{
  display:none;
  position: absolute;
  z-index: 1;
} 
#startScreen{
  height: 100%;
 justify-content: center;
 align-items: center;
 text-align: center;
}
.stopScreen{
  display: none;
  z-index: 2;
  background-color: black;
  opacity:0.5;
}
.gameOverScreen{
  display: none;
  z-index: 3;
  background-color: black;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 2em;
}
button{
  background-color: white;
  font-size: 2em;
  color: black;
  border-radius: 50px;
  align-items: center; 
  border: none;
  margin: 10px;
}
span{
  color: red;
  font-weight: bold;

}